@import "common.scss";
@import "_minix.scss";
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: pxTorem(10px);
    @include sizing;
    form {
        width: 100%;
        height: pxTorem(40px);
        padding: pxTorem(5px);
        @include sizing;
        border: 2px solid #ccc;
        border-radius: pxTorem(5px);
        @include box_flex;
        @include justify(space-between);
        position: relative;
        margin-top: pxTorem(35px);
        input {
            width: 60%;
            outline: none;
            border: none;
        }
        button {
            font-size: pxTorem(17px);
            width: 30%;
            height: pxTorem(40px);
            outline: none;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: pxTorem(5px);
        }
    }
}